html {
    box-sizing: border-box;

    font-size: 65.5%;
  

}

*, *:after, *:before{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
   
}

 body {
     background-color: black;
     
     min-width: 375px;
     width: 100vw;
     margin: 0px;
     height: 100vh;
     
 }

 header {
     min-width: 355px;
     width: 80%;
     margin: 0 auto;
     background-color: whitesmoke;
     text-align: center;
 }
 
 h1 {
     width: 100%;
     font-size: 3rem;
 }

 .main_container {

    min-width: 355px;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: whitesmoke;
    font-size: 1.5rem;

 }

 .forms {

    max-width: 350px;
    width: 80%;
    height: 200px;

    margin: 0px auto;
    padding: 0px 10px;
   

    border: 1px solid black;
    border-radius: 10px;

    

 }

.form_box {

    padding-top: 10px;
  
}

.data_1 {
    display: flex;
    justify-content: space-between;
    
     

 }

 .in_form {
     width: 100px;
 }

 .output {
     padding-top: 10px;
 }

 .out_canvas {
     width: 100px;
     height: 100px;
     margin: 0px auto;
     background-color: rgb(218, 231, 231);
 }

